$white: #ffffff;
$black: #484848;
$soda_primary: #50a6f2;
$soda_secondary: #7db7eb;
$facebook: #4196e4;
$bamboo_primary: #49d277;
$bamboo_secondary: #6ce695;
$gray_0: #f2f2f2;
$gray_1: #e5e5e5;
$gray_2: #cbcbcb;
$gray_3: #bdbdbd;
$gray_4: #828282;
$success: #75d701;
$error: #f67676;
$warning: #eca95c;
$info: #6488ff;
$shadow: rgba(0, 0, 0, 0.16);

